@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Baloo Bhai 2';
    height: 100vh;
    background-color: #7e00f35b;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 2.75rem;
    font-weight: 600;
    margin-bottom: auto;
    padding: 1rem;
    text-align: center;
    background-color: #7e00f35b;
}

.stock-inputs{
    margin: 1rem 0;
}

.init, .qty, .curr{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

input{
    font-size: 1.5rem;
    padding: 0.4rem;
    border-radius: 0.8rem;
    text-align: center;
    border: 2px solid black;
}

.calc{
    display: flex;
    justify-content: center;
    margin-bottom: 1.75rem;
}

#calc-btn {
    border-radius: 15px;
    color: #ffffff;
    font-size: 2rem;
    background-color: #5a00afa4;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 2px solid #000000;
    font-weight: 600;
    margin: 0 auto;
}

#calc-btn:hover {
    background-color: #450086d0;
    transition: 0.1s;
    text-decoration: none;
    cursor: pointer;
}

.output{
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.icons{
    display: flex;
    justify-content: center;
}

.icons i{
    margin: 0 2rem;
    color: black;
}

.icons i:hover{
    color: #8400ff;
}

.bottom-container{
    background-color: #7e00f35b;
    height: 100px;
    width: 100%;
    margin-top: auto;
    padding: 1rem 0;
}

.footer-link{
    font-size: 1rem;
    display: inline-block;
}

.copyright{
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin-top: 0.5rem;

}
